apache-airflow[celery]==2.3.2 --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.3.2/constraints-3.7.txt
apache-airflow-providers-amazon # testing
psycopg2-binary
numpy
sagemaker
pydevd-pycharm~=213.6461.6
Pillow